ul{
    list-style-type: none;
    margin-left: 100px;
    margin-top: 25px;
    width: 70%;
    height: auto;    
    float: left;
}
li{
    float: left;
    padding: 10px;
}
header{
    max-width: 1140px;
    height: 78px;
    background-color: #1d2126;
    color: white;
    font-family: OpenSans Semibold;
    font-size: 14px;
}
h1{
    width: 80px;
    height: auto;
    float: left;
    padding-left: 120px;
}
li a{
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
ul a:hover{
    color: #a4aead;
    border-color: #5b6168
}
li:hover{
    border: 1px solid white;
    cursor: pointer;
}